<style>
#unoconvopena:before {
    content:"\e805";
}
#unoconvworda:before {
    content:"\e804";
}
#unoconvpdfa:before {
    content:"\e803";
}
#importmessageabiword {
    display: none !important;
}
</style>

<a id="unoconvpdfa" target="_blank" class="exportlink"><div class="exporttype" id="unoconvpdf" data-l10n-id="pad.importExport.exportpdf"></div></a>
<a id="unoconvopena" target="_blank" class="exportlink"><div class="exporttype" id="unoconvopen" data-l10n-id="pad.importExport.exportopen"></div></a>
<a id="unoconvworda" target="_blank" class="exportlink"><div class="exporttype" id="unoconvword" data-l10n-id="pad.importExport.exportword"></div></a>

<script>
window.onload = function() {
    var pad_root_path = new RegExp(/.*\/p\/[^\/]+/).exec(document.location.pathname) || clientVars.padId;
    $("#unoconvpdfa").attr("href", pad_root_path[0] + "/unoconv/pdf");
    $("#unoconvopena").attr("href", pad_root_path[0] + "/unoconv/odt");
    $("#unoconvworda").attr("href", pad_root_path[0] + "/unoconv/doc");
};
</script>
